body {background-color: #f5f7f9;}

body {
	background-image: url('https://s-media-cache-ak0.pinimg.com/236x/0e/56/25/0e56251c99885acd70d151a30dbf0417.jpg');
}

.nav>li>a:hover {
	background-color: pink;	
	border-radius: 10px;

}

/*
.first{
	background-color: pink;
}

.main {
	background-color: pink;
}*/

.logo{
	width: 50%; 
	margin: 0 auto;
}



.nav{
	background: #e16879;
}


.nav-color{
	background-color: #e16879;
}
#color-name{
	color:white;
}

.card-title{ 
	color: #e16879;
}

.card {
	    background-color: transparent;
}